body{
  margin: 0;
  padding: 0;
  background-image: url(assets/grass.jpg);
  background-size:375px 812px ;
  background-repeat: no-repeat;
  background-position: center top; 
  z-index: -1;
  

}
/*
APP CONTAINER FLEXBOX POSTIONING
********************************
*/
.container
{
  display: flex;
  /* position: relative; */
  justify-content: center;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}


/*
ROPE STYLES
*******************************************
*/
#rope
{
  position: relative;
  width: auto;
  height: auto;
  border: none;
  padding: 0px;
  top: 150px;
  right: 115px;
  z-index: 1;
  transform: scale(1,1.5);
}

#ropeKnot
{
  position: relative;
  width: 100px;
  height: 100px;
  padding: 0px;
  border: none;
  top: 300px;
  right: 183px;
  z-index: 2;
  /* transform: scale(0.025,0.025); */
}


/*
HAND ANIMATION STYLES 
*******************************************
*/
.hand-animate-btn1
{
  position: relative;
  top: -50px;
  /* transform: translate(-50%, -50%); */
  width: calc(674px / 3);
  height: 232px;
  transform: scale(0.5,0.5);
  background: url(/assets/hands.png);
  animation: animate 1s steps(3) infinite;
}

@keyframes animate
{
  from 
  {
      background-position: 0;
  }

  to
  {
      background-position: 674px;
  }
}


/*
*******************************************
*/